STRINGTABLE 
BEGIN
    IDS_DROPNONEEDEDSRCS    "Odrzuæ NNS"
    IDS_DROPQUEUEFULLSRCS   "Odrzuæ Pe³neKolejki"
    IDS_DROPQUEUETOOMANY    "Odrzuæ Zbyt Du¿o"
    IDS_DROPQUEUEUNKNOWN    "Odrzuæ Nieznane"
    IDS_DROP_ASKING         "Odrzuæ Pytaj¹cych siê"
    IDS_DROPCONNECTING      "Odrzuæ Pod³¹czj¹cych siê"
    IDS_STOP_CLIENT         "Zatrzymaj tego klienta"
    IDS_SubMenu_Drop        "&Odrzuæ"
END

STRINGTABLE 
BEGIN
    IDS_13RATIO             "U¿yj ratio opartego na iloœci 1:3 jeœli wysy³anie < 11"
    IDS_PPG_MAELLA_MTU_STATIC "MTU (500..1500, domyœlnie 1340)"
    IDS_PPG_MAELLA_NAFC_CHECK02 "Pe³na kontrola NAFC nad limitami U/D"
    IDS_OPENMORESLOTS       "Otwórz wiêcej slotów jeœli potrzeba (zalecane)"
    IDS_AVG_DATARATE_TIME   "Poka¿ œredni¹ danych po czasie[s]: %u"
    IDS_XTREMESETTINGS      "Xtreme"
    IDS_ZOOMSTATIC          "Zoom: %u"
    IDS_AVGQR               "AvgQR"
    IDS_USEDOUBLESENDSIZE   "Podwójny Rozm.UL"
    IDS_LOGDROP             "Loguj akcje odrzucania"
    IDS_ANTILEECHER_GROUP   "Anty-Leecher"
    IDS_ANTILEECHER_CHECK   "W³¹cz Ochronê Anty-Leecher"
    IDS_ANTILEECHERNAME_CHECK "Wykrywaj Leecherów przez UserName"
    IDS_POWERRELEASE        "PowerRelease"
    IDS_DONTREMOVESTATICSERVER "Nie usuwaj statycznych serwerów"
END

STRINGTABLE 
BEGIN
    IDS_LISTREQUESTED       "Wyœwietl listê zarz¹danych plików"
    IDS_HIGHPRIOPROCESS     "Wys."
    IDS_ABOVENORMALPROCESS  "Powy¿ej Normalnego"
    IDS_NORMALPROCESS       "Norm."
    IDS_PROCESSGROUP        "Priorytet Procesu"
END

STRINGTABLE 
BEGIN
    IDS_COUNTRYNAME_SHORT   "Wyœwietlaj 2 litery"
    IDS_COUNTRYNAME_MID     "Wyœwietlaj 3 litery"
    IDS_COUNTRYNAME_LONG    "Wyœwietlaj pe³n¹ nazwê"
    IDS_COUNTRYNAME_SHOWFLAG "Pokazuj Flagê"
END

STRINGTABLE 
BEGIN
    IDS_IP2COUNTRY_MSG1     "IP2Country u¿ywa bazy IP-to-Country dostarczonej przez WebHosting.Info"
    IDS_IP2COUNTRY_MSG2     "(http://www.webhosting.info), dostêpne z http://ip-to-country.webhosting.info"
    IDS_IP2COUNTRY_LOADED   "IP2Country za³adowane"
    IDS_IP2COUNTRY_UNLOADED "IP2Country nieza³adowane"
    IDS_IP2COUNTRY_ERROR1   "Numer linii b³êdu: %i"
    IDS_IP2COUNTRY_ERROR3   "Nie uda³o siê za³adowaæ"
    IDS_IP2COUNTRY_ERROR4   "CountryFlag wy³¹czone, nie uda³o siê za³adowaæ"
    IDS_IP2COUNTRY_ERROR5   "Niew³aœciwy resID, mo¿e powinieneœ uaktualniæ swój flag icon Dll,"
    IDS_IP2COUNTRY_INFO     "Wczytane linie:%u  Znaleziono zakresy IP2Country:%u  Zduplikowane%u  Po³¹czone%u"
    IDS_IP2COUNTRY_FLAGLOAD "Flagi krajów zosta³y za³adowane"
    IDS_IP2COUNTRY_FILELOAD "Plik IP2Country zosta³ wy³adowany"
    IDS_IP2COUNTRY_FLAGUNLD "Flagi krajów zosta³y wy³adowane"
    IDS_IP2COUNTRY_NALONG   "Nie mo¿liwe do w³¹czenia"
    IDS_IP2COUNTRY_NASHORT  "Niedostêpne"
    IDS_IP2COUNTRY_LOADED2  "Za³adowano IP2Country z ""%s"" w %ums"
    IDS_ACCURATEGRAPH       "dok³adnie"
END

STRINGTABLE 
BEGIN
    IDS_SMOOTHGRAPH         "g³adko"
    IDS_MULTIQUEUE          "Jedna kolejka na plik (Multikolejka)"
    IDS_RETRYCONNECTIONATTEMPTS "Ponawiaj nieudane próby po³¹czeñ TCP"
    IDS_ANTIGHOST           "Wykrywaj Mody-Widma"
    IDS_REMEMBERAICH        "Pamietaj nieu¿ywane AICH-Hashes (known2.met)"
    IDS_MARKCANCELLED       "Zaznacz jako anulowany"
    IDS_DOWNHISTORY_CHECK1  "eMule znalaz³ plik ju¿ pobrany z takim samym ID pliku:\n"
    IDS_DOWNHISTORY_CHECK2  "eMule znalaz³ %i plików ju¿ pobranych o tej samej nazwie (%s):\n"
    IDS_DOWNHISTORY_CHECK3  "Czy chcesz pobraæ ten plik mimo tego?"
    IDS_DOWNHISTORY_CHECK4  "eMule znalaz³ plik wczeœniej anulowany o tym samym ID pliku:\n"
    IDS_DOWNHISTORY         "Historia pobierania"
    IDS_DOWNHISTORY_REMOVE  "Usuñ z historii"
    IDS_DOWNHISTORY_REMOVE_QUESTION 
                            "Czy na pewno chcesz usun¹æ ""%s"" z historii pobieranych?"
    IDS_DOWNHISTORY_REMOVE_QUESTION_MULTIPLE 
                            "Czy na pewno chcesz usun¹æ wybrane pliki z historii pobieranych?"
    IDS_DOWNHISTORY_SHARED  "Udostêpniane
    IDS_DOWNHISTORY_CLEAR   "Wyczyœæ historiê pobieranych"
END

STRINGTABLE 
BEGIN
    IDS_DOWNHISTORY_SHOWSHARED "Poka¿ udostepniane pliki"
    IDS_DOWNHISTORY_ACTIONS "Akcje"
    IDS_DOWNHISTORY_CLEAR_QUESTION 
                            "Czy na pewno chcesz wyczyœciæ historie pobieranych?"
    IDS_SENDBUFFER          "Bufor wysy³ania"
    IDS_LEERCHERLOGTITLE    "Wiadomoœci-Leecherów"
    IDS_ALL_A4AF_TO_THIS    "Przerzuæ wszystkie ród³a do tego pliku"
    IDS_ALL_A4AF_TO_OTHER   "Przerzuæ Wszystkie ród³a do dowolnego innego pliku teraz"
    IDS_SWAP_A4AF_TO_THIS   "Przerzuæ ród³a (A4AF) do tego Pliku teraz"
    IDS_SWAP_A4AF_TO_OTHER  "Przerzuæ ród³a (A4AF) do innego Pliku teraz"
    IDS_ALL_A4AF_AUTO       "Automatycznie przerzucaj wszystkie ród³a (A4AF) do tego pliku"
    IDS_LEECHER_ACTION_BAN  "Ban"
    IDS_LEECHER_ACTION_REDUCE "Zredukuj punkty"
    IDS_ANTILEECHERBADHELLO_CHECK "Wykrywaj b³êdny Hello-Tag"
    IDS_ANTILEECHERSNAFU_CHECK "Wykrywaj z³e Tagi"
END

STRINGTABLE 
BEGIN
    IDS_ANTILEECHERMOD_CHECK "Wykrywaj Leecherów przez Modstring"
    IDS_ANTILEECHERTHIEF_CHECK "Wykrywaj z³odzieji Nicków / Modów"
    IDS_ANTILEECHERSPAMMER_CHECK "Wykrywaj Spamerów"
    IDS_ANTILEECHERXSEXPLOITER_CHECK "Wykrywaj XS-Exploiter"
    IDS_STATIC_LEECHERCOMMUNITY "Mody Spo³ecznoœciowe"
    IDS_STATIC_LEECHERGHOST "Mody-Widma"
    IDS_STATIC_LEECHERTHIEF "Z³odzieje Nicków / Modów"
    IDS_NEWXTREMEVERSION    "Nowa wersja Xtreme jest dostêpna"
    IDS_NEWXTREMEVERSIONDOWNLOAD 
                            "Nowa wersja Xtreme jest dostêpna \n Czy chcesz j¹ pobraæ?"
    IDS_NEWDLP              "Nowy antiLeech.dll (DLP) jest dostêpny"
    IDS_NEWDLPDOWNLOAD      "Nowy antiLeech.dll (DLP) jest dostêpny \n Czy chcesz go pobraæ?"
    IDS_DROPLEECHER         "Odrzucaj Leecherów"
    IDS_ACTIVEDOWNLOADSBOLD "Pokazuj aktywne pobierania pogrubion¹ czcionk¹"
    IDS_UPDOWNUPLOADLIST    "Góra / Dó³"
    IDS_MAXGLOBALSOURCES    "Globalny limit Ÿróde³"
    IDS_ACCEPTSOURCES       "Akceptuj globalny limit Ÿróde³"
END

STRINGTABLE 
BEGIN
    IDS_ACCEPTRATIO         "Akceptuj ratio sesji 1:3 jeœli Ÿróde³ > limit Ÿróde³"
    IDS_SHOWADDITIONALGRAPH "Pokazuj dodatkowe wykresy"
    IDS_CHECK4UPDATEMOD     "Sprawdzaj czy jest nowa wersja Xtreme przy uruch."
END